/* General Navbar Styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: sticky;
    /* Make the navbar sticky */
    top: 0;
    /* Stick to the top of the viewport */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 10;
    /* Ensure it stays above other content */
}

.container-nav {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 20px;
    padding: 5px;
}

.right-nav {
    justify-content: flex-end;
}

.left-nav,
.right-nav {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8rem;
    font-weight: bold;
}

.nav-link {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    margin: 0px 20px;
}

.left-nav .nav-link,
.right-nav .nav-link {
    font-weight: bold;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    text-transform: none;
    letter-spacing: normal;
    transition: color 0.3s ease;
}

.left-nav .nav-link.active,
.right-nav .nav-link.active {
    color: #ff4a57;
    font-weight: bold;
}

.left-nav .nav-link:hover,
.right-nav .nav-link:hover {
    color: #ff4a57;
}

/* Brand Section */
.brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 60px;
    position: relative;
    transition: opacity 0.3s ease-in-out;
}

.brand-img-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #fff;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.brand-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 0;
    /* Initially hidden */
    width: 200px;
    transition: opacity 0.3s ease-in-out;
}

.brand-text.visible {
    opacity: 1;
    /* Show text when visible */
}

.brand-img-wrapper.hidden {
    opacity: 0;
    /* Hide image when it reaches top */
}

.brand-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.brand-subtitle {
    font-weight: bold;
    color: #474747f5;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 110%;
    left: 50%;
    width: 49%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.dropdown-menu li:hover {
    background-color: #ff4a57;
    border-radius: 5px;
    color: white;
}

.hamburger {
    display: none;
}



@media (max-width: 1920px) and (min-width: 1024px) {
    .navbar {
        padding: 10px 20px;
    }

    .left-nav,
    .right-nav {
        gap: 8rem;
    }

    .brand-title {
        font-size: 1.3rem;
    }

}

/* For tablets (768px - 1023px) */
@media (max-width: 1023px) and (min-width: 865px) {
    .navbar {
        padding: 10px 15px;
    }

    .left-nav,
    .right-nav {
        gap: 6rem;
    }

    .left-nav .nav-link,
    .right-nav .nav-link {
        font-size: 1.1rem;
    }

    .brand-title {
        font-size: 1.3rem;
    }
}

/* For mobile screens (480px - 767px) */
@media (max-width: 862px) and (min-width: 627px) {
    .container-nav {
        flex-direction: row;
        gap: 1rem;
        margin-left: 0px;
    }

    .left-nav {
        justify-content: flex-end;
        gap: 1rem;
        order: 1;
    }

    .right-nav {
        justify-content: flex-start;
        gap: 1rem;
        order: 2;
    }

    .left-nav .nav-link,
    .right-nav .nav-link {
        font-size: 0.9rem;
    }

    .brand-img-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        border: 10px solid #fff;
        box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
        transition: opacity 0.3s ease-in-out;
    }

    .brand-title {
        font-size: 1.1rem;
    }

    .brand-text {
        width: 180px;
    }
}

/* Media query for screens larger than 626px */

/* Dropdown styling for screens larger than 626px */
@media (max-width: 627px) and (min-width: 340px) {
    .container-nav {
        margin-left: 0px;
    }

    .navbar-nav {
        display: none;
    }

    .brand-img-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-60%, -50%);
        z-index: 1;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        border: 10px solid #fff;
        box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
        transition: opacity 0.3s ease-in-out;
    }

    .brand-title {
        font-size: 1.1rem;
    }

    .dropdown-menu.open {
        display: block;
    }

    .menu-text {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #ff4a57;
        cursor: pointer;
    }
    

    .menu-text-contact {
        display: block;
        padding: 10px;
        cursor: pointer;
    }

    .hamburger {
        cursor: pointer;
        padding: 5px;
        margin-right: 10px;
        font-size: xx-large;
        color: #ff4a57;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}